# System
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/
dist/
tmp/
out-tsc/
bazel-out/
test-results/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDEs
.idea/
.vscode/
*.swp
*.swo
